<footer class="footer-container">
    <p class="footer-element"> &copy; Easy Nanny - <%= new Date().getFullYear() %></p>
    <div class="container-footer-element">
        <a href="" class="footer-element border-right">Mentions légales</a>
        <a href="" class="footer-element border-right">Conditions générales</a>
        <p class="footer-element contact"> Nous Contacter</p>
    </div>
</footer>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/app.js"></script>
<script src="/js/modals.js"></script>
</body>

</html>