<footer>
    <p class="footer_mention"> &copy; Easy Nanny - 2023</p>
    <p class="footer_mention"> Mentions légales</p>
    <p class="footer_mention"> Condition général</p>
</footer>

<script src="/integration/javascript/index.js"></script>
<script src="/integration/javascript/planning.js"></script>
<script src="/integration/javascript/userProfil.js"></script>
<script src="/integration/javascript/modale.js"></script>
<script src="/integration/javascript/burger.js"></script>
</body>

</html>