<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/public/css/reset.css">
    <link rel="stylesheet" href="/assets/public/css/modale.css">
    <link rel="stylesheet" href="/assets/public/css/style.css">

    <title>Easy Nanny</title>
</head>

<body>

    <header>
        <div class="logo">
            <img class="img_logo" src="/assets/public/images/Logo-removebg-preview.png" alt="Logo Easy Nanny">

        </div>
