<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/modale.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Easy Nanny</title>
</head>

<body>

    <header>
        <div class="logo">
            <img class="img_logo" src="/images/Logo-removebg-preview.png" alt="Logo Easy Nanny">

        </div>
        <div class="burger-menu">
            <div class="burger-menu-icon">&#9776;</div>
            <ul class="burger-menu-list">
              <% if (!locals.session.user) { %>
                <li><a id="signupBtn" class="modal-btn js-modal" href="#modal1">s'inscrire</a></li>
                <li><a id="loginBtn" class="modal-btn js-modal" href="#modal2">Se connecter</a></li>
                <% } else { %>
                  <% if (locals.session.user.is_nanny) { %>
                    <li> <a id="signupBtn"  href="/nanny/dashboard">Bonjour Super Nounou <%= user.first_name %></a></li>
                        <li> <a id="loginBtn"   href="/logout">Se déconnecter</a></li>
                <% } else { %>
                    <li>  <a id="signupBtn"  href="/parent/dashboard">Bonjour Super Parent <%= user.first_name %></a></li>
                        <li> <a id="loginBtn"  href="/logout">Se déconnecter</a></li>
                <% } %>
                <% } %>
            </ul>
           
        </div>
        
        <div class="boutons-log">
           
            <!-- apparait au-dela de 760px-->
            <% if (!locals.session.user) { %>
            <div id="signupBtn" class="modal-btn js-modal" href="#modal1">S'inscrire</div>
            <div id="loginBtn" class="modal-btn js-modal" href="#modal2">Se connecter</div>
            <% } else { %>
                
                <% if (locals.session.user.is_nanny) { %>
                    <a id="signupBtn"  href="/nanny/dashboard">Bonjour Super Nounou <%= user.first_name %></a>
                    <a id="loginBtn"  href="/logout">Se déconnecter</a>
                    <% } else { %>
                        <a id="signupBtn"  href="/parent/dashboard">Bonjour Super Parent <%= user.first_name %></a>
            <a id="loginBtn"  href="/logout">Se déconnecter</a>
            <% } %>
            <% } %>
        </div>
    </header>