#uniqueId-label {
    text-align: center;
    margin-bottom: 1rem;
}



.no-child-text {
    font-size: 2rem;
    margin-top: 3rem;
    text-align: center;
}
#children-list-nanny {
    margin-top: 1.5rem;
}

.hour-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
  }

  .form-container-center {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .form-item-activity {
    text-align: center;
    margin-bottom: 1rem;
  }

  .children-profil:hover {
    background-color: var(--nanny);
    transition-duration: 1s;
  }
@media screen and (min-width: 650px) {
    


}

@media screen and (min-width: 850px) {

  

    
}

@media screen and (min-width: 1050px) {
    
}


@media screen and (min-width: 1520px) {
    
    

}