@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root {
    --primary_text_color: #ffffff;
    --secondary_text_color: #000000;
    --backgroung_color: #2a84bc;
    --lilac_color: #f9aaff;
    --purple: #432C9E;
    --purple_pink: #AD5DD9;
    --yellow_color: #F7E07A;
    --green_color: #3FA254;
    --coral_pink: #EF8275;
    --powder-gray: #AFC2D5;
    --red: #E01D5B;
    --contener: #ae5dd96c;
}

body {
    font-family: 'Istok Web', sans-serif;
    font-family: 'Comfortaa', cursive;
    background-color: var(--primary_text_color);

    margin: 0;
    max-width: 100vw;
}

/* header */

header {
    position: sticky;
    top: 0em;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, var(--purple_pink), var(--purple));
    max-width: 100vw;
    height: 5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    z-index: 1;
}

.img_logo {
    position: relative;
    bottom: 2em;

    width: 150px;
    height: auto;

    margin-left: 1em;
}

/* menu burger */

.burger-menu-icon {
    font-size: 2em;
    margin-top: 0.6em;
    margin-right: 0.9em;

    color: #e9e9e9;
    cursor: pointer;
}

.burger-menu-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color:var(--backgroung_color);
    display: none;
}

.burger-menu-list li {
    padding: 1em;
}

.burger-menu-list li:hover {
    background-color: var(--purple_pink);
}

.burger-menu-list a {
    text-decoration: none;
    color: #e3e3e3;
}

.show-menu {
    display: block;
}

/* left Lateral space */


*/ .left_side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}

/* Nanny profil section*/
.profil_info {
    display: flex;
    padding: 1em;
    margin-bottom: 1em;
}

.profil_img {
    width: 7em;
    height: 7em;
    margin-top: 1.5em;

    border: 3px solid var(--primary_text_color);
    border-radius: 50%;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.profil_name {
    display: flex;
    align-self: center;

    width: 50%;
    margin-top: 0.5em;
    margin-left: 1em;

    font-size: 1.5 em;
    color: var(--purple);
    cursor: pointer;
}

/* Kids section */

.kids_title {
    text-align: center;
    margin: 1em;

    font-size: 2em;
    color: var(--purple);
}

.kids_contener {
    text-align: center;
    margin-top: 2em;
    margin: 1.8em 1em 2em 1em;
    padding: 1em 0.2em 1em 0.2em;
    height: 20em;

    border: 2px solid var(--contener);
    border-radius: 0.5em;
}

.kids_info {
    display: flex;
    align-items: center;
    margin: 0.5em 1em 0.5em 1em;
    padding: 1em;

    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;

    cursor: pointer;
}

.un {
    background: linear-gradient(to right, var(--backgroung_color), rgb(143, 213, 240));
    color: var(--primary_text_color);
}

.deux {
    background: linear-gradient(to right, var(--purple_pink), rgb(242, 174, 255));
    color: var(--primary_text_color);
}

.trois {
    background: linear-gradient(to right, var(--backgroung_color), rgb(143, 213, 240));
    color: var(--primary_text_color);
}

.kids_photo {
    width: 3em;
    height: 3em;
    
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.kids_name {
    text-align: right;
    margin-left: 20px;
    margin-right: auto;
    flex-shrink: 0;

    font-size: 1.5em;
}

/* call to action button */
.bouton_contener {
    display: flex;
    justify-content: space-around;
    
    margin-bottom: 2em;
}

.chat_title {
    padding: 1em 1.3em;

    font-size: 1.2em;
    color: var(--primary_text_color);
    background-color: var(--green_color);
    border-radius: 2em;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.suggestion_title {
    padding: 1em 1.9em;

    font-size: 1.2em;

    color: var(--primary_text_color);
    background-color: var(--purple_pink);
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}


/* Right side layout  */
.right_side {
    display: flex;
    flex-direction: column;
    width: 80%;
}

/* Planning layout */

.planning_title {
    font-size: 2em;
    margin: 1em;
    text-align: center;

    color: var(--purple);
}

.planning_contener {
    display: flex;
    flex-direction: column;

    margin: 0.5em 1em 2em 1em;
    padding: 1em;

    height: 40em;
    border: 2px solid var(--contener);
    border-radius: 0.2em;
}

.header_day{
    display: flex;
    justify-content: space-around;
}

.day_name{
    font-size: 2em;
    margin-top: 1em;
    margin-left: 1.5em;
    color: var(--purple);
}

.plus_icon{
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    padding-top: 0.2em;
    
   color: var(--purple);
    
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #3470ac;
    border-radius: 50%; 
}

.planning_day {
    width: 90%;
    height: 90%;
    align-self: center;
    margin-top: 2em;


    background-color: #639cae12;
    border-radius: 0.5em;
}

/* layout diary */

.diary_title {
    font-size: 2em;
    margin: 1em;
    text-align: center;

    color: var(--purple);
}

.diary_contener {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff74;
    margin: 0.5em 1em 2em 1em;

    height: 40em;
    border: 2px solid #ae5dd96c;
    border-radius: 5px;
}

.diary_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

textarea {
    margin: 1em;
    resize: none;
    width: 23em;
    height: 37em;

    border: 1px solid var(--powder-gray);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;

}

.bouton {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

}

.soumettre_title{
    font-size: 20px;
    color: var(--primary_text_color);
    background-color: var(--green_color);
    border-radius: 2em;
    padding: 1em 0.5em;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;

    cursor: pointer;
}

select {
    font-size: 15px;
    color: var(--primary_text_color);
    background-color: var(--purple_pink);
    border-radius: 2em;
    padding: 1em 0.1em;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;

    cursor: pointer;
}

/* footer */
footer {
   color: var(--powder-gray);
   text-align: end;
   
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {

    .kids_title {
        font-size: 2em;
        margin: 1em;
        text-align: left;
    }

    .planning_title {
        text-align: left;
    }





    .chat_title {
        padding: 1em 4em;
    }

    .diary_title {
        text-align: left
    }

    textarea {
        width: 50em;
        height: 20em;
    }

    .diary_contener {
        height: 26em;
    }

}


@media only screen and (min-width: 1440px) {

    .contener {
        display: flex;
    }

    .left_side {
        background: linear-gradient(to top, var(--purple), var(--purple_pink));
        width: auto%;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .profil_name {
        color: var(--primary_text_color);
    }

    .kids_contener {
        border: none;
    }

    .kids_title {
        font-size: 2em;
        margin: 1em;
        text-align: left;
        color: var(--primary_text_color);
    }

    .kids_photo {
        width: 2em;
        height: 2em;
    }

    .kids_name {
        font-size: 1em;
    }

    .bouton_contener {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 10em;

    }

    .planning_title {
        text-align: left;
    }


    .chat_title {
        padding: 1em 4em;
    }

    .diary_title {
        text-align: left
    }

    textarea {
        width: 90em;
        height: 40em;
    }
}