html {
    font-size: 62.5%; /*pour que 1 rem = 10 px */
    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;
    --alt-text-color: #1E2337;
    --children-girl: #CAABCC;
    --children-boy: #379DDD;
    --nanny: #F7E07A;
    --primary-color1: #d9c7e6 ;
    --primary-color2: #99cbe4 ;
    
   
    --color-bg-main: linear-gradient(180deg, var(--primary-color2) 10%, var(--primary-color1) 100%);
    --color-bg-invert: linear-gradient(180deg, var(--primary-color1) 10%, var(--primary-color2) 100%);
    --color-boy: var(--children-boy);
    --color-girl: var(--children-girl);
    --color-hoover-nanny: var(--nanny);
   --color-btn: var(--alt-text-color);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ece0ab;
}


.btn {
    text-decoration: none;
    font-weight: 800;
    color: var(--color-btn);
    font-size: 2rem;
}

/* HEADER */

.header-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100vw;
  height: 15vh;
  background: var(--color-bg-main);
  position: sticky;
  top: 0;
  left: 0;
}


.logo-container {
    height: 100%;
   
}

.logo-container img {
    width: 100%;
    height: 100%;
}

/* style mobile */
.navbar-mobile {
    display: flex;
}

.header-title {
    font-size: 5rem;
    display: none;
}

.navbar-mobile i {
   margin-right: 2rem;
    z-index: 9999;
    font-size: 5rem;
}



 .modal-burger-menu {
    transition: top 0.7s;
    background: var(--color-bg-main);
    height: 100vh;
    position: fixed;
    top:-100vh;
    left: 0vh;
    width: 100vw;
    opacity: 0.9;
}

 .change-modal {
    top:0;
}
.navbar-mobile-list {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.navbar-mobile-list a {
   font-size: 4vh;
    font-weight: 800;
    color: var(--color-btn);
    padding: 2rem;
    margin: 0.45em 0;
}







/* Style Desktop */
.navbar-deskop {
        display: none;
        width: 100vw;
        justify-content: space-around;
        font-weight: 800;
}






/* Footer */
.footer-container {
    z-index: -1;
    background: var(--color-bg-invert);
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    bottom: 0;
    width: 100vw;
}

.container-footer-element {
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  
}



.footer-element {
    text-decoration: none;
    color: #1E2337;
    margin: 0.3rem;
    padding: 0.3rem;
    font-size: 1.3rem;
    font-weight: normal;
    text-align: center;
}


@media screen and (min-width: 650px) {
    
    
    
    .header-title {
        display: flex;

        
    }
    .container-footer-element{
        flex-direction: row;
    }

    .footer-container{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-element {
        font-size: 1.6rem;
    }

    

}

@media screen and (min-width: 850px) {

    .footer-element {
        font-size: 2rem;
        padding: 1rem;
    }

    .border-right {
        border-right:2px solid #1E2337;
        padding-right: 1rem;
    }

    
}





@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }

    .header-title {
        display: none;
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }


    .container-footer-element{
        flex-direction: row;
    }

    .footer-element {
        font-size: 2.3rem;
    }


    .navbar-deskop{
        display: flex;
    }

    .navbar-mobile {
        display: none;
    }
    

}


@media screen and (min-width: 1520px) {
    .btn {
        font-size: 2rem;
    }

}

