html {
    font-size: 62.5%; /*pour que 1 rem = 10 px */
    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;
    --alt-text-color: #1E2337;
    --children-girl: #CAABCC;
    --children-boy: #379DDD;
    --nanny: #F7E07A;
    --primary-color1: #d9c7e6 ;
    --primary-color2: #99cbe4 ;
    --focus-form: #f1f0ab;
   
    --color-bg-main: linear-gradient(180deg, var(--primary-color2) 10%, var(--primary-color1) 100%);
    --color-bg-invert: linear-gradient(180deg, var(--primary-color1) 10%, var(--primary-color2) 100%);
    --color-nanny: linear-gradient(to left, var(--children-boy) 2%, var(--nanny) 100%);
    --color-boy: var(--children-boy);
    --color-girl: var(--children-girl);
    --color-hoover-nanny: var(--nanny);
   --color-btn: var(--alt-text-color);
   --color-text: var(--primary-text-color);
   --color-alt-text: var(--secondary-text-color);
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    background-color: #eeead9;
    /* max-width: 100vw; */
    overflow-x: hidden;
}
button {
    border: none;
    background-color: transparent;
}

.btn {
    text-decoration: none;
    font-weight: 800;
    color: var(--color-btn);
}

.toastify {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 80vw; 
    height:auto; 
    text-align: center;
    border-radius: 4rem;
  }
/* HEADER */

.header-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100vw;
  height: 15vh;
  background: var(--color-bg-main);
  position: sticky;
  top: 0;
  z-index: 5;
}


.logo-container {
    height: 100%;
   
}

.logo-container img {
    width: 100%;
    height: 100%;
}

/* style mobile */
.navbar-mobile {
    display: flex;
}

.header-title {
    font-size: 5rem;
    display: none;
}

.navbar-mobile i {
   margin-right: 2rem;
    z-index: 9999;
    font-size: 4rem;
}



 .modal-burger-menu {
    transition: top 0.7s;
    background: var(--color-bg-main);
    height: 100vh;
    position: fixed;
    top:-100vh;
    left: 0vh;
    width: 100vw;
    opacity: 0.9;
}

 .change-modal {
    top:0;
}
.navbar-mobile-list {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.btn-mobile {
   font-size: 4vh;
    padding: 2rem;
    margin: 0.45em 0;
}







/* Style Desktop */
.navbar-deskop {
        display: none;
        width: 100vw;
        justify-content:flex-end;
        padding: 2rem;
}




/* Footer */
.footer-container {
    z-index: -1;
    background: var(--color-bg-invert);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
   
    width: 100vw;
}

.container-footer-element {
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  
}



.footer-element {
    text-decoration: none;
    color: #1E2337;
    margin: 0.3rem;
    padding: 0.3rem;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}
.is-valid {
    font-size: 1.5vh;
    color: transparent;
}
.is-invalid {
    color: red;
}


@media screen and (min-width: 650px) {
    
    
    
    .header-title {
        display: flex;

        
    }
    .container-footer-element{
        flex-direction: row;
    }

    .footer-container{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-element {
        font-size: 1.6rem;
    }

    

}

@media screen and (min-width: 850px) {

    .footer-element {
        padding: 1rem;
    }

    .border-right {
        border-right:2px solid #1E2337;
        padding-right: 1rem;
    }

    
}





@media screen and (min-width: 1050px) {
    i:hover, .submit:hover, button:hover, .logo-container, .nanny, .parent, .children-profil:hover {
        cursor: pointer;
    }
    .btn-desktop {
        font-size: 1.8rem;
        padding: 1.6rem;
        border-bottom: 2px solid transparent;
        text-shadow: rgba(0, 0, 0, 0.277) 4px 4px 10px;
    }
    .btn-desktop:hover {
        text-shadow: var(--children-boy) 4px 4px 10px;
    }
    .is-nanny:hover {
        text-shadow: var(--nanny) 4px 4px 10px;
    }


    .two-links{
        font-size: 3.5rem;
    }

    .header-title {
        display: none;
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }


    .container-footer-element{
        flex-direction: row;
    }




    .navbar-deskop{
        display: flex;
        justify-content: space-around;
    }


 

    .navbar-deskop-not-connected {
       justify-content: flex-end;
      }

    .navbar-mobile {
        display: none;
    }
    

}


@media screen and (min-width: 1520px) {
    .btn-desktop {
        font-size: 2.4rem;
    }

    .two-links {
       font-size: 3.8rem;
    }

    
}

