@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root {
    --primary_text_color: #ffffff;
    --secondary_text_color: #000000;
    --backgroung_color: #2a84bc;
    --lilac_color: #f9aaff;
    --purple: #432C9E;
    --purple_pink: #AD5DD9;
    --yellow_color: #F7E07A;
    --green_color: #3FA254;
    --coral_pink: #EF8275;
    --powder-gray: #AFC2D5;
    --red: #E01D5B;
    --contener: #ae5dd96c;
}

body{
    font-family: 'Istok Web', sans-serif;
    font-family: 'Comfortaa', cursive;

}

header {
    position: sticky;
    top: 0em;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, var(--purple_pink), var(--purple));
    max-width: 100vw;
    height: 5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    z-index: 1;
}

.img_logo {
    position: relative;
    bottom: 2em;

    width: 150px;
    height: auto;

    margin-left: 1em;
}

/* menu burger */

.burger-menu-icon {
    font-size: 2em;
    margin-top: 0.6em;
    margin-right: 0.9em;

    color: #e9e9e9;
    cursor: pointer;
}

.burger-menu-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color:var(--backgroung_color);
    display: none;
}

.burger-menu-list li {
    padding: 1em;
}

.burger-menu-list li:hover {
    background-color: var(--purple_pink);
}

.burger-menu-list a {
    text-decoration: none;
    color: #e3e3e3;
}

.show-menu {
    display: block;
}


/* container principale */

.suggest_container{
    text-align: center;
    width: 40vw;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    display: block;

    margin-top: 2em;
    margin-bottom: 2em;

    border: 2px solid var(--purple_pink);
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

/* New suggestion */

.title_page{
    height: 2em;
    font-size: 2em;
    color: var(--purple);

    margin-top: 1em;
}

.new_suggest {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  

  .send_suggest, .suggest_story_title {
    font-size: 1.2em;
    color: var(--purple);
    margin-left: 2em;
    margin-bottom: 1em;
   

    border-bottom: 1px solid var(--purple);
  }
  

  textarea {
    resize: none;
    margin: 1em auto; /* Changez cette ligne */
    width: 40em; /* Ajoutez cette ligne */
    height: 10em;
    border: 1px solid var(--secondary_text_color);
    border-radius: 10px;
  }
  

  .send_button {
    background-color: var(--purple);
    color: var(--primary_text_color);
    width: 15em;
    padding: 0.5em;
    margin: 0 auto 2em; /* Changez cette ligne */
    border-radius: 2em;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  }
  
/* suggest archive */

.suggest_story{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.articles_container{
    margin: 1em auto; /* Changez cette ligne */
    width: 40em; /* Ajoutez cette ligne */
    height: 20em;
    border: 1px solid var(--secondary_text_color);
    border-radius: 10px;
}

/* footer */
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: linear-gradient(to right, var(--purple_pink), var(--purple));
}

.footer_mention {
    color: var(--primary_text_color);
    font-size: 0.7em;
}