.swiper {
    max-width: 100vw;
    min-height:100vh;
}
.swiper-wrapper {
    height: 100%;
  }

.swiper-slide {
   height: 100%;
}

#calendar-parent {
    margin: 2rem auto;
width: 80vw;
height:100%;

}

.swiper-button-next {
    color: var(--color-boy);
}

.swiper-button-prev {
 color: var(--color-girl);
}

.fc-timegrid-slot {
    height: 2.5rem !important;
}

.fc-col-header-cell-cushion {
    font-size: 1.8rem !important;
}

.fc-scrollgrid-sync-inner,
.fc-timegrid-axis {
    background: var(--color-bg-invert);
}

.fc-col-header-cell {
    background-color: var(--primary-color2);
}

.fc-button-primary {
    font-size: .7rem !important;
}

@media screen and (min-width: 354px) {

    .fc-button-primary {
        font-size: 1rem !important;
    }
}

@media screen and (min-width: 425px) {

    .fc-button-primary {
        font-size: 1.3rem !important;
    }
}

@media screen and (min-width: 650px) {
    
    .fc-button-primary {
        font-size: 1.5rem !important;
    }
    .fc-col-header-cell-cushion {
       font-size: 1.5rem !important;
    }
}

@media screen and (min-width: 850px) {

  

    
}

@media screen and (min-width: 1050px) {
    
}


@media screen and (min-width: 1520px) {
    
    

}