.swiper {
    max-width: 100vw;
    min-height:100vh;
}
.swiper-wrapper {
    height: 100%;
  }

.swiper-slide {
   height: 100%;
}

#calendar-parent {
    margin: 2rem auto;
width: 80vw;
height:100%;

}

.swiper-button-next {
    color: var(--color-boy);
}

.swiper-button-prev {
 color: var(--color-girl);
}

.fc-timegrid-slot {
    height: 3vh !important;
}
@media screen and (min-width: 300px) {

    .fc-button-primary {
        font-size: .7rem !important;
    }
}

@media screen and (min-width: 650px) {
    
    .fc-button-primary {
        font-size: 1.5vh !important;
    }

}

@media screen and (min-width: 850px) {

  

    
}

@media screen and (min-width: 1050px) {
    
}


@media screen and (min-width: 1520px) {
    
    

}