.container__notification  {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-80%);
    margin: 2em;
    font-size: 3rem;
    z-index: 30;
}
.toast {
    transition: opacity 1.5s;
    padding: 1.2rem;
   
}

.toast-error {
    border: .05em solid rgb(181, 181, 181);
    background-color: rgba(218, 81, 81, 0.8);
    border-left: 0.1em solid red;
}

.toast-success {
    border: .05em solid rgb(181, 181, 181);
    background-color: rgba(184, 238, 170, 0.8);
    border-left: 0.1em solid green;
}

.hide {
   opacity: 0;
   transition: opacity 1s;
}