<%- include('partials/header.ejs') %>
<div class="suggests-container">
            <div class="some-suggests-container">
              <% if (!suggests || suggests.length===0) { %>
                <p class="no-suggests"> Vous n'avez pas encore de suggestions </p>
                <% } else { %>
                  <% let index=0; %>
                    <% for (const suggest of suggests) { %>
                      <div
                        class="suggestion-container  <% if (index % 2 === 0) { %>blue-shadow<% } else { %>pink-shadow<% } %>">
                        <p class="suggestion-date">
                          <%= suggest.suggest_date %>
                        </p>
                        <p class="suggestion-text">
                          <%= suggest.title %>
                        </p>
                      </div>
                      <% index++; %>
                        <% } %>
                          <% } %>
            </div>
      </div>

      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
      <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
      <script type="module" src="https://cdn.jsdelivr.net/npm/@fullcalendar/core/locales/fr.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js"></script>
      <script src="/js/dashboard-nanny.js"></script>
      <script src="/js/validation.js"></script>
      <script src="/js/swipper.js"></script>
      <script src="/js/calendar-nanny.js"></script>
      <%- include('partials/footer.ejs') %>